/target/
/.idea/**
/Relazioni e slides/Relazione/out/article_4.aux
/Relazioni e slides/Relazione/out/article_4.lof
/Relazioni e slides/Relazione/out/article_4.log
/Relazioni e slides/Relazione/out/article_4.lot
/Relazioni e slides/Relazione/out/article_4.out
/Relazioni e slides/Relazione/out/article_4.synctex.gz
/Relazioni e slides/Relazione/out/article_4.toc
