/target/
/.idea/**
/Relazioni e slides/Relazione/out/*.aux
/Relazioni e slides/Relazione/out/*.lof
/Relazioni e slides/Relazione/out/*.log
/Relazioni e slides/Relazione/out/*.lot
/Relazioni e slides/Relazione/out/*.out
/Relazioni e slides/Relazione/out/*.gz
/Relazioni e slides/Relazione/out/*.toc